body {
  margin: 0px;
  padding: 0px; }
a:hover{
  text-decoration: none;
}
.small-top{
  background-color: black;
  border-bottom: 1px solid #2b2b2b; 

}
.top-head{
  background-color: #141517;
}

.social-icon{
  text-align: right;
}
.social-icon a{
  margin-right: 10px;
  color: #ca1b1b;
  border-left: 1px #828282 solid;
  padding: 5px 10px;
  margin: 0px;
}
.messege{
  position: relative;
}

.messege .fa.fa-circle{
    position: absolute;
    top: -2px;
    right: 10px;
    font-size: 10px;
    color: red;
}

.social-icon a:last-child{
    border-right: 1px #828282 solid;
}

.social-icon a:hover{
  color: #ec1616;
}
.adminbar {
    padding-top: 30px;
    float: right; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.adminbar a{
  padding-right: 15px;
  color: #fff;
}

.adminbar a:hover{
    color: red;
}

.top-nav .navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.search-box{
    position: relative;
}
.search-box input{
    width: 0px;
    height: 38px;
    background: #d0d0d0;
    border-radius: 5px;
}
.search-box:hover input{
  width: 250px;
  transition: 1s;
  padding-right: 45px
}
.search-box button{
  position: absolute;
  top: 0px;
  right: 0px;
  background: #FD3A13;
  border-color: #FD3A13;
  color: white;
}
.navbar{
  padding: 5px 0px 5px 0px;
}
.navbar-nav .nav-item .nav-link{
  color: black;
  font-weight: 500;
}

.navbar-nav .nav-item a:hover, .navbar-nav .active a,.navbar-nav .nav-item a:focus {
  border-bottom: 3px solid #FD3A13;
}
.banner{
  padding: 30px 0px;
  background: #ebebeb;
}
.card-box{
    border-radius: 15px;
    background: red;
    top: 5px;
    left: 5px;
    position: absolute;
    z-index: 1;
    font-size: 11px;
    color: #fff;
    font-weight: 700;
    padding: 2px 8px;
}
.card-box span{
  color: #fff;
}
.img-box img, .card-news img{
  width: 100%;
}
.img-box {
    position: relative;
}
.title-box{
  padding: 15px;
  background: #fff;
  margin-bottom: 30px;
}
.title-box h5{
  font-size: 15px;
}
.title-box .date, .card-news .date{
  font-style: italic;
  color: red;
  font-size: 13px;
  font-weight: 500;
}

.top-slider img{
  width: 100%;
  height: 300px;
}

.top-slider-title a{
  color: #434345;
}
.top-slider-title a:hover, .card-news .card-news-body a:hover{
  text-decoration: underline;
}
.top-slider-title p{
  color: #707070;
}
.top-slider-title p span{
  color: #434345;
  font-weight: 700;
}

.hearding-large{
  padding: 15px 0px 10px 0px;
  border-bottom: 2px solid green;
}

.card-news {
  padding: 15px;
}

.card-news .card-news-body{
  padding: 20px;
}
.card-news .card-news-body a{
  color: black;
  font-size: 18px;
}

.nav-left a{
  padding: 0px 20px 15px 15px; 
  color: #aeaec0;
  text-align: center;
}
.nav-left{
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-bottom: 2px solid #FD3A13;
  color: black;
}
.flexbox{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.media-tab-body{
  -webkit-box-flex: 1;
    /*-ms-flex: 1;*/
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding-left:16px;
}
.media-tab{
  padding-top: 15px;
}
.media-tab img{
  width: 120px;
  height: 100px;
}
.news-title p a{
  color: black;
}
.small-title a:hover{
  text-decoration: underline;
}
.small-title{
  margin-bottom: 5px;
}
.news-auther .time{
  font-size: 15px;
  color: #5A5A5A; 
}
.video-sec{
  margin-top: 30px;
}
.video-sec h4{
  font-size: 19px;
  margin-top: 7px;
  padding: 0px 0px 10px 0px;
}
.heading-small{
  border-bottom: 2px solid green;
}
.video-block{
  margin-top: 20px;
}
