.container{
	display: -webkit-flex;
	display: flex;
	border: solid 1px black;
	margin-bottom: 40px;
}
nav {
	width: 200px;
	border: solid 1px red;
}
.flex-column{
	-webkit-flex: 1;
			flex: 1;
	border: solid 1px red;
}


.vertical-container{
	height: 300px;
	display: -webkit-flex;
	display: 		 flex;
	-webkit-align-items: center;
			align-items: center;
	-webkit-justify-content: center;
			justify-content: center;

	border: solid 1px red;
}
.flex-item{
	border: solid 1px green;
	width: 200px;
	height: 150px;
}