body{
	margin: 0px;
	padding: 0px;
}
.small-top{
	background-color: black;
	border-bottom: 1px solid #2b2b2b;
	.adminbar{
		float: right;
	}
}

.navbar-nav{
	.nav-item{
		.nav-link{
			color: black;
			font-weight: bold;
		}
	}
}

